@model MomentumTest.Models.Reservation

<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" aria-labelledby="deleteModalLabel-@Model.Id"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel-@Model.Id">Deletar Reserva @Model.Id</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja deletar a reserva <strong>@Model.Id</strong> de
                <strong>@Model.MainGuest?.Name</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                </button>
                <button type="button" class="btn btn-danger delete-reservation" data-id="@Model.Id">Deletar</button>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    $(document).off('click', '.delete-reservation');
    $(document).on('click', '.delete-reservation', function () {
        var reservationId = $(this).data('id');
        $.ajax({
            url: '/Home/DeleteReservation',
            type: 'POST',
            data: { id: reservationId },
            success: function (response) {
                if (response.success) {
                    location.reload();
                    console.log('Reserva deletada com sucesso!.');
                } else {
                    console.log('Não foi posível deletar a reserva.');
                }
            },
            error: function () {
                console.log('Não foi posível deletar a reserva.');
            }
        });
    });
});
</script>
