@using MomentumTest.Models.ViewModels
@model ReservationsFilterViewModel

<section class="reservation-filters-container custom-card p-4 pt-0">
    <header class="px-2 pt-3 pb-2">
        <h2>RESERVAS</h2>
    </header>
    <form id="filter-form" class="pt-4">
        <div class="d-flex flex-wrap flex-md-nowrap">
            <div class="mb-3 col-12 col-md-3 pe-md-2">
                <label asp-for="ReservationId" class="form-label"></label>
                <input asp-for="ReservationId" class="form-control" />
            </div>
            <div class="mb-3 col-12 col-md-3 pe-md-2">
                <label asp-for="StatusId" class="form-label"></label>
                <select asp-for="StatusId" class="form-select">
                    <option value="">Select Status</option>
                    @foreach (var status in Model.Statuses)
                    {
                        <option value="@status.Id">@status.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-12 col-md-6">
                <label class="form-label">Período</label>                
                <div class="input-group">
                    <input asp-for="StartDate" class="form-control date-picker" placeholder="Start Date" />
                    <span class="input-group-text bg-light text-center" style="min-width: 50px;">até</span>
                    <input asp-for="EndDate" class="form-control date-picker" placeholder="End Date" />
                </div>
            </div>

        </div>
        <div class="mb-3 col-12">
            <label asp-for="GuestName" class="form-label"></label>
            <input asp-for="GuestName" class="form-control" />
        </div>
        <div class="d-flex">
            <button type="button" class="btn btn-secondary ms-auto me-2" data-bs-toggle="modal" data-bs-target="#createModal">
                Novo
            </button>
            <button type="submit" class="btn btn-primary">
                Pesquisar
            </button>
        </div>
    </form>
</section>

@await Html.PartialAsync("Components/Reservations/_ReservationCreateModal")

<script>
    $(document).ready(function () {
        $('#filter-form').submit(function (event) {
            event.preventDefault();
            let data = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Filter", "Home")',
                data: data,
                success: function (result) {
                    $('#reservations-table-container').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
