@using MomentumTest.Models.ViewModels
@model ReservationsFilterViewModel

<form id="filter-form" class="px-4">
    <div class="d-flex gap-2">
        <div class="mb-3 col-2">
            <label asp-for="ReservationId" class="form-label"></label>
            <input asp-for="ReservationId" class="form-control" />
        </div>
        <div class="mb-3 col-4">
            <label asp-for="StartDate" class="form-label"></label>
            <input asp-for="StartDate" class="form-control date-picker" />
        </div>
        <div class="mb-3 col-4">
            <label asp-for="EndDate" class="form-label"></label>
            <input asp-for="EndDate" class="form-control date-picker" />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="StatusId" class="form-label"></label>
        <select asp-for="StatusId" class="form-select">
            <option value="">Select Status</option>
            @foreach (var status in Model.Statuses)
            {
                <option value="@status.Id">@status.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="GuestName" class="form-label"></label>
        <input asp-for="GuestName" class="form-control" />
    </div>
    <button 
        type="button" 
        class="btn btn-info btn-sm" 
        data-bs-toggle="modal" 
        data-bs-target="#createModal">Novo</button>
    <button 
        type="submit" 
        class="btn btn-primary submit-btn">Pesquisar</button>
</form>

@await Html.PartialAsync("_ReservationCreateModal")

<script>
    $(document).ready(function () {
        $('#filter-form').submit(function (event) {
            event.preventDefault();
            let data = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Filter", "Home")',
                data: data,
                success: function (result) {
                    console.log("RESULTS GC: ", result);
                    $('#resultsContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
