@{
    ViewData["Title"] = "Reservas";
}

<article class="reservations-page">
    <div id="reservations-filter-form-container">
        @await Component.InvokeAsync("ReservationsFilter")
    </div>

    <div id="reservations-table-container">
        @await Component.InvokeAsync("ReservationsTable")
    </div>
</article>

