@{
    ViewData["Title"] = "Reservas";
}

<article class="reservations-page">
    <div id="filter-form-container">
        @await Component.InvokeAsync("ReservationsFilter")
    </div>

    <div id="resultsContainer" class="px-4">
        @await Component.InvokeAsync("ReservationsTable")
    </div>
</article>

