* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

a:hover {
  color: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

aside.site-sidebar .icon {
  width: 20px;
}


/* bootstrap overrides */

.btn {
  border-radius: 0;
  padding: 6px 24px;
}

.btn-primary {
  background-color: #748F68;
  border-color: #748F68;
}

.btn-primary:hover {
  background-color: #748F68cc;
  border-color: #748F68cc;
}

.btn-secondary {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #999;
}

.form-control {
  border-radius: 0;
}