<footer>
    <ul>
        <li>
            <a href="#">
                <img src="@Model.AvatarUrl" alt="User Avatar" class="home" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="@Model.AvatarUrl" alt="User Avatar" class="avatar" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="@Model.AvatarUrl" alt="User Avatar" class="exit" />
            </a>
        </li>
    </ul>
</footer>