<footer class="mt-auto">
    <ul class="d-flex align-items-center justify-content-around">
        <li class="flex-grow-1">
            <a class="d-block py-3 d-block w-100 d-flex justify-content-center" href="#">
                <img src="/assets/home.svg" alt="Home Page" class="icon home" />
            </a>
        </li>
        <li class="flex-grow-1">
            <a class="d-block py-3 d-block w-100 d-flex justify-content-center" href="#">
                <img src="/assets/avatar.svg" alt="User Avatar" class="icon avatar" />
            </a>
        </li>
        <li class="flex-grow-1">
            <a class="d-block py-3 d-block w-100 d-flex justify-content-center" href="#">
                <img src="/assets/exit.svg" alt="Logout" class="icon exit" />
            </a>
        </li>
    </ul>
</footer>