<footer>
    <ul>
        <li>
            <a href="#">
                <img src="/assets/home.svg" alt="Home Page" class="icon home" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/avatar.svg" alt="User Avatar" class="icon avatar" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/exit.svg" alt="Logout" class="icon exit" />
            </a>
        </li>
    </ul>
</footer>