@model MomentumTest.Data.UserDTO

<div class="user-widget p-2 d-flex gap-2">
    <div class="user-avatar">
        <img src="@Model.AvatarUrl" alt="User Avatar" class="icon"/>
    </div>
    <div class="user-info d-flex flex-column">
        <span class="user-name">@Model.Name</span>
        <span class="user-company">@Model.Company</span>
    </div>
</div>