#site-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

main {
  flex: 1;
  background-color: #F7F7F7;
}

.page-header {
  color: #fff;
  text-justify: center;
  background-color: #68805D;
  height: 60px;
}

.page-header h1 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

section.main-content {
  max-width: 750px;
}