<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MomentumTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MomentumTest.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="site-container">

        @await Component.InvokeAsync("Sidebar")

        <main role="main" class="overflow-hidden w-100">
            <header id="page-header" class="d-flex align-items-center position-fixed w-100 px-4">
                <h1>@ViewData["Title"]</h1>
            </header>
            <section class="scroll-container overflow-auto w-100 h-100 px-4 pb-4">
                <div id="main-content">
                    @RenderBody()
                </div>
            </section>
        </main>

    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
